   <header style="position: relative;">
     <input id='search-input' type='text' size=25>
     <span id="add-button" ng-click='addUrl()' class="icon-header icon icon-bookmark" title="Add">AddButton</span>
     <span ng-click='refresh()' id="sync-button" class="icon-header icon icon-refresh" title="Sync"></span>
     <span id="options-button" class='icon-header icon icon-wrench' title="Settings"></span>
     <div id="sort-select-div">
      <select id="sort-select" ng-model='orderBy' ng-change="updateOrderBy()">
        <option value="oldest">Oldest</option>
        <option value="newest">Newest</option>
      </select>
    </div>
  </header>
  <div id="list">
    <table cellpadding="5" width='95%'>
      <tbody>
        <tr ng-repeat="item in items | orderBy: orderItems">
          <td>
            <span><img src="{{item.getFavicon()}}" /></span>
          </td>
          <td>
            <a href="{{item.getUrl()}}">{{item.getTitle()}}</a>
          </td>
          <td>
            Mark As Read  
          </td>
        </tr>
      </tbody>
    <input type="button" name="getAllItems" id="getAllItems" value="getAllitems" ng-click="refresh()" />
    </table>
  </div>
