<html ng-app="PocketUExtension" ng-csp>
<head>
  <link rel="stylesheet" type="text/css" href="../stylesheet/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../stylesheet/font-awesome.min.css">
  <script type="text/javascript" src="../3rdparty/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="../3rdparty/angular.min.js"></script>
  <script type="text/javascript" src="../3rdparty/ejs-production.js"></script>
  <script type="text/javascript" src="../3rdparty/jquery.quicksearch.js"></script>
</head>
<body>
  <div>
   <header style="position: relative;">
     <input id='search-input' type='text' size=25>
     <span id="add-button" class="icon-header icon icon-bookmark" title="Add"></span>
     <span id="sync-button" class="icon-header icon icon-refresh" title="Sync"></span>
     <span id="options-button" class='icon-header icon icon-wrench' title="Settings"></span>
     <div id="sort-select-div">
      <select id="sort-select" onchange="order-by()">
        <option value="old">Oldest</option>
        <option value="new">Newest</option>
      </select>
    </div>
  </header>
  <div id="list" ng-controller="ItemsController">
    <table cellpadding="5" width='95%'>
      <tbody>
        <tr ng-repeat="item in getItems()">
          <td>
            <span><img src="{{item.getFaviconUrl()}}" /></span>
          </td>
          <td>
            <a href="{{item.getUrl()}}">{{item.getTitle()}}</a>
          </td>
          <td>
            Mark As Read  
          </td>
        </tr>
      </tbody>
    <input type="button" name="getAllItems" id="getAllItems" value="getAllitems" ng-click="refresh()" />
    </table>
  </div>
</div>
</body>
  <script type="text/javascript" src="../app/app.js"></script>
  <script type="text/javascript" src="../app/model/item.js"></script>
  <script type="text/javascript" src="../app/factory/itemsFactory.js"></script>
  <script type="text/javascript" src="../app/controller/itemsController.js"></script>
</html>
